<div class="container-fluid  d-flex justify-content-center text-wrap" style="background-color:#e4ecf7;height:100vh;">
  <div class="row d-flex justify-content-center" style="width: 90vw;justify-content:center;">
    <div class="jumbotron jumbotron-fluid text-center mx-auto"
      style="width: 90vw;background-color:#e4ecf7;margin-bottom:0px;">
      <br>
      <img src="/assets/error-icon.png" style="margin-bottom: 2%;">
      <br>
      <button class="btn btn-outline-secondary btn-lg" (click)="goBack()"><i class="fa fa-arrow-left"></i>
        Back</button>
    </div>
  </div>
</div>